Sources/treeDiM.PLMPackLib.LegacyDBUploader/Service References/PLMPackSR/PLMPackService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44302/PLMPackService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PLMPack" />
  <xs:import schemaLocation="https://localhost:44302/PLMPackService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="get_UserName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_UserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_UserNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetUserResult" nillable="true" type="q1:DCUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="ConnectResult" nillable="true" type="q2:DCUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisConnect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisConnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentGroup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetCurrentGroupResult" nillable="true" type="q3:DCGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCurrentGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grpId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCurrentGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInterest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grpId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInterestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveInterest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="grpId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveInterestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCardboardFormats">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCardboardFormatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetAllCardboardFormatsResult" nillable="true" type="q4:ArrayOfDCCardboadFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardboardFormatByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardboardFormatByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetCardboardFormatByIDResult" nillable="true" type="q5:DCCardboadFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardboardFormatExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardboardFormatExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CardboardFormatExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardboardFormatByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardboardFormatByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetCardboardFormatByNameResult" nillable="true" type="q6:DCCardboadFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewCardboardFormat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="length" type="xs:double" />
        <xs:element minOccurs="0" name="width" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewCardboardFormatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="CreateNewCardboardFormatResult" nillable="true" type="q7:DCCardboadFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCardboardFormat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCardboardFormatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCardboardFormat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="cbFormat" nillable="true" type="q8:DCCardboadFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCardboardFormatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="UpdateCardboardFormatResult" nillable="true" type="q9:DCCardboadFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCardboardProfile">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCardboardProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetAllCardboardProfileResult" nillable="true" type="q10:ArrayOfDCCardboardProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardboardProfileByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardboardProfileByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetCardboardProfileByIDResult" nillable="true" type="q11:DCCardboardProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardboardProfileExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CardboardProfileExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CardboardProfileExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardboardProfileByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardboardProfileByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetCardboardProfileByNameResult" nillable="true" type="q12:DCCardboardProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewCardboardProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="thickness" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewCardboardProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="CreateNewCardboardProfileResult" nillable="true" type="q13:DCCardboardProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCardboardProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCardboardProfileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCardboardProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="cbProfile" nillable="true" type="q14:DCCardboardProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCardboardProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="UpdateCardboardProfileResult" nillable="true" type="q15:DCCardboardProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRootNodes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRootNodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetRootNodesResult" nillable="true" type="q16:ArrayOfDCTreeNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreeNodeChildrens">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreeNodeChildrensResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetTreeNodeChildrensResult" nillable="true" type="q17:ArrayOfDCTreeNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewNodeBranch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentNodeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="thumbnailId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewNodeBranchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="CreateNewNodeBranchResult" nillable="true" type="q18:DCTreeNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewNodeDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentNodeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="thumbnailId" type="xs:int" />
        <xs:element minOccurs="0" name="docType" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="docFile" nillable="true" type="q19:DCFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewNodeDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="CreateNewNodeDocumentResult" nillable="true" type="q20:DCTreeNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewNodeComponent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parentNodeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="thumbnailId" type="xs:int" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="compFile" nillable="true" type="q21:DCFile" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="compGuid" type="q22:guid" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="majorationSets" nillable="true" type="q23:ArrayOfDCMajorationSet" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="defaultValue" nillable="true" type="q24:DCParamDefaultValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewNodeComponentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="CreateNewNodeComponentResult" nillable="true" type="q25:DCTreeNode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShareTreeNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="treeNodeId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="grpId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShareTreeNodeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentByGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="g" type="q26:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentByGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetComponentByGuidResult" nillable="true" type="q27:DCComponent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateParamDefaultComponent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="g" type="q28:guid" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="paramDefaultValue" nillable="true" type="q29:ArrayOfDCParamDefaultValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateParamDefaultComponentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParamDefaultValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="g" type="q30:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParamDefaultValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetParamDefaultValueResult" nillable="true" type="q31:ArrayOfDCParamDefaultValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMajorationSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="g" type="q32:guid" />
        <xs:element minOccurs="0" name="profileId" type="xs:int" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="majorations" nillable="true" type="q33:ArrayOfDCMajoration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMajorationSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="UpdateMajorationSetResult" nillable="true" type="q34:DCMajorationSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMajorationSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="g" type="q35:guid" />
        <xs:element minOccurs="0" name="profileId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMajorationSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/PLMPack" minOccurs="0" name="GetMajorationSetResult" nillable="true" type="q36:DCMajorationSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>